.box {
  background-color: white;
  border: 1px solid rgb(8, 158, 207);
  border-radius: 12px;
  padding: 8px 16px;
}

.title {
  border-bottom: 4px solid rgb(198, 198, 198);
  padding-bottom: 8px;
}
